<! html>
<html>
  <head>
    <script type="text/javascript" src="vendor/js/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="vendor/js/underscore-min.js"></script>

    <script type="text/javascript" src="app/js/app.js"></script>

    <% unless ENV['RACK_ENV'] == "production" %>
      <script type="text/javascript" src="features/support/jasmine.js"></script>
      <script type="text/javascript" src="features/support/jquery.simulate.js"></script>
      <script type="text/javascript" src="features/support/dist/jasmine-features.js"></script>

      <script type="text/javascript" src="features/form_feature.js"></script>

    <% end %>
  </head>

  <body>
  </body>
</html>
